<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Components">
            <directory>packages/components/tests</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>packages/core/tests</directory>
        </testsuite>
        <testsuite name="Data">
            <directory>packages/data/tests</directory>
        </testsuite>
        <testsuite name="Htmx">
            <directory>packages/htmx/tests</directory>
        </testsuite>
        <testsuite name="Routing">
            <directory>packages/routing/tests</directory>
        </testsuite>
        <testsuite name="View">
            <directory>packages/view/tests</directory>
        </testsuite>
        <testsuite name="I18n">
            <directory>packages/i18n/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>packages/components/src</directory>
            <directory>packages/core/src</directory>
            <directory>packages/data/src</directory>
            <directory>packages/htmx/src</directory>
            <directory>packages/i18n/src</directory>
            <directory>packages/routing/src</directory>
            <directory>packages/view/src</directory>
        </include>
    </source>
</phpunit>
